{% extends 'comments/base.html' %}

{% block content %}
    <div class="form-container">
        <h1>{{ title }}</h1>
        <button id="showForm">Новая тема</button>
        <form method="post" id="commentForm" style="display:none;">
            {% csrf_token %}
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Разместить</button>
        </form>
    </div>
    <div class="main-table">
        <table id="commentsTable">
            <thead>
                <tr>
                    <th class="sortable" data-column="user_name">User Name &#8593;</th>
                    <th class="sortable" data-column="email">E-mail &#8593;</th>
                    <th class="sortable" data-column="created_at">Дата добавления &#8593;</th>
                    <th class="sortable" data-column="text">Текст</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr class="comment-row">
                        <td data-column="user_name">{{ comment.user.username }}</td>
                        <td data-column="email">{{ comment.user.email }}</td>
                        <td data-column="created_at">{{ comment.created_at }}</td>
                        <td class="comment-text">
                            <div class="comment-controls">
                                <button class="reply-button">Форма ответа</button>
                                {% if comment.comment_set.all.exists %}
                                    <button class="show-children-button">Показать ветку</button>
                                {% endif %}
                            </div>
                            <div class="comment-content">
                                {{ comment.text }}
                            </div>
                            <div class="reply-form" style="display:none;">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for f in form %}
                                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                                        <div class="form-error">{{ f.errors }}</div>
                                    {% endfor %}
                                    <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                                    <button type="submit">Отправить ответ</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% else %}
                <span class="disabled">&laquo; first</span>
                <span class="disabled">previous</span>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% else %}
                <span class="disabled">next</span>
                <span class="disabled">last &raquo;</span>
            {% endif %}
        </span>
    </div>
{% endblock %}
